autopep8==2.0.2
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
docopt==0.6.2
idna==3.4
pipreqs==0.4.11
pycodestyle==2.10.0
PyYAML==6.0
requests==2.28.2
termcolor==2.2.0
urllib3==1.26.15
yarg==0.1.9
